@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;700&display=swap');
body {
  margin: 0;
  font-family: 'Noto Sans',sans-serif
}
 body *{
  box-sizing: border-box;
}     /* * bons costumes de programação*/
.main_Login {
  background-color: #201b2c;
  width: 100vw;
  /* ! uma vw é -> 1% de pixel da viewport, igual para o vh  */
  height: 100vh;
  display: flex;
  justify-content: center;
  /* * Justificando o Espaço, no plano cartesiano eixo X*/
  align-items: center;
  /* *Justificando itens no eixo y */
  /* ? Caso use o flex-direction o alin-item passa a ser o eixo x e o justify-content passa a ser o eixo y */
}
.left_login {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.left_login h1 {
  font-size: 3vw;
  color: #77ffc0;
}

.left-login-image{
  width: 35vw;
}

.right_login {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-items: end;
  align-items: center;
}

.card_login {
  width: 60%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 35px;
  background: #2f2841;
  border-radius: 20px;
  box-shadow: 0px 10px 40px #00000056;
  /* ! Horizontal Offset: Define o deslocamento horizontal da sombra em relação ao elemento. Valores positivos movem a sombra para a direita; valores negativos movem para a esquerda.

  ! Vertical Offset: Define o deslocamento vertical da sombra em relação ao elemento. Valores positivos movem a sombra para baixo; valores negativos movem para cima.

  ! Blur Radius: Determina o desfoque da sombra. Quanto maior o valor, mais difusa será a sombra.

  ! Spread Radius: Controla a expansão ou contração da sombra. Um valor positivo aumenta a sombra, enquanto um valor negativo a torna menor. Este é opcional e pode ser omitido.

  ! Color: Define a cor da sombra.*/
}

.title {
  color: #00ff88;
  font-weight: 800;
  justify-content: center;
  align-items: center;
  display: flex;
  text-transform: uppercase;
}
.textfild {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}
.textfild input {
  width: 100%;
  display: flex;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background: #514869;
  color: #f0ffffde;
  font-size: 12pt;
  outline: none;
  box-shadow: 0px 10px 40px #00000056;
  box-sizing: border-box; /* ? desta Maneira o tamanho da div filho nunca vai ultrapasar a div mãe*/
}

.textfild input::placeholder{
    color:#9ea9a9de
}

.label {
  position: relative;
  display: flex;
  color: #f0ffffde;
  margin-right: 17vw;
  margin-bottom: 10px;
}

.label > i {
  margin-right: 0.5vw;
}

.button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button > button {
  background-color: #00ff88;
  box-shadow: 0px 10px 40px -12px #00ff8052;
  width: 100%;
  padding: 20px 0px;
  margin: 5px;
  border-radius: 20px;
  border: none;
  outline: none;
  text-transform: uppercase;
  font-weight: 800;
  cursor: pointer;
  letter-spacing: 3px;
  color: #2b134b;

}
.button > button:hover{
    background-color: #77ffc0;
}

@media screen and (max-width:950px) {
  .card_login{
    width: 85%;
  }

}

@media only screen and (max-width:600px){
  .main_Login{
    flex-direction: column;
    height: auto;
  }
  .left_login > h1{
    display: none;
  }
  .left_login{
    width: 100%;
    height: 50%;
  }
  .right_login{
    width: 80%;
    height: auto;
  }
 
  .left-login-image{
    width: 45vw;
  }

}